<li id="post-<%=post._id%>">
  <p>
    <% if (locals.user && locals.user.id == post.user.id){ %>
    <small>
      <a class="delete-post-button" href="/post/destroy/<%= post.id %>"
        >delete post</a
      >
      <br />
    </small>

    <% } %>
    <small>
      <a href="/post/<%=post.id%>">show</a>
      <br />
    </small>

    <%= post.content %>
    <br />
    <small> <%= post.user.name %> </small>
  </p>
  <div class="post-comments">
    <% if (locals.user){ %>
    <form action="/comment/create/<%=post.id%>" method="POST">
      <input
        type="text"
        name="content"
        placeholder="Type Here to add comment..."
        required
      />
      <input type="submit" value="Add Comment" />
    </form>

    <% } %>

    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for (comment of post.Comments){%> <%- include('_comment') -%> <%} %>
      </ul>
    </div>
  </div>
</li>
