<html>
  <head>
    <body>
      <%-include('header')%>
      <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="POST">
          <textarea name="content" cols="30" rows="2" name="content"></textarea>
          <input type="submit" value="Post" />
        </form>
      </section>
      <%for(let post of posts ){%>
      <div>
        <p><%=post.user.name%></p>
        <ul>
          <%=post.content%>
        </ul>
        <a href="/post/<%=post.id%>">show</a>
        <section>
          <form action="/comment/<%=post.id%>/create" method="POST">
            <textarea name="content"></textarea>
            <input type="submit" value="post" />
          </form>
        </section>
        <!-- this is not showing people which is not created this post -->
        <%if(locals.user && locals.user.id==post.user.id){%>
        <small><a href="/post/destroy/<%=post.id%>">Delete</a></small>
        <%}%>
      </div>

      <%}%>
    </body>
  </head>
</html>
