<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%=post.content%></p>
    <p><%=post.user.name%></p>
    <!-- {console.log(post.user.name)} -->
    <br />
    <div class="post-comments-list">
      <ul id="post-comments-<%=post._id%>"></ul>
      <% for(let i=0;i< post.Comments.length;i++){%>
      <p><%=post.Comments[i].content%></p>
      <p><%=post.Comments[i].user.name%></p>
      <p><%=post.Comments[i].id%></p>
      <a href="/comment/destroy/<%=post.Comments[i]._id%>">Delete comment</a>
      <br />

      <%}%>
    </div>

    <section>
      <form action="/comment/create/<%=post.id%>" method="POST">
        <textarea name="content"></textarea>
        <input type="submit" value="post" />
      </form>
    </section>
  </body>
</html>
